body{
    margin:0;
    font-size:1.6rem;
    font-family:'Helvetica Neue', sans-serif; 
    text-align:center; 
    color:#333;      
  }
  #title{
    font-size:1.6rem;
    font-weight:bold;
  }
  p{
    font-size:1rem;
  }
  #img-div{
    display:block;
    padding:10px;
    margin:0;
  }
  img{
    display:block;
  }
  #image{
    max-width:100%;
    height:auto;
    margin:0 auto;
    background-color:white;   
  }
  #img-caption{
    font-size:1rem;
    margin:15px 0 5px 0;
  }
  figcaption{
    display:block;
  }
  h3{
    font-size:1.3rem;
    margin:50px 0;
  }
  main #tribute-info{
    font-size:1rem;
    display:block;
  }
  ul{
    margin:0 auto 50px auto;
    max-width:550px;
  }
  li{
    text-align:left;
    margin:16px 0;
  }
  blockquote{
    font-style:italic;
    text-align:left;
    margin:0 auto 50px auto;
    max-width:545px;
    display:block;
  }
  cite{
    font-style:italic;
    font-size:1rem;
  }
  a{
    color:#477ca7;
    cursor:pointer;
  }
  a:visited{
    color: #74638f
  }